extends layout

block content
  section#intro
    .container
      .row
        .seven.columns
          h2.title Schedule
          p
            | X 2017 will be held at the Mother's International School, Sri Aurobindo Marg, on August 16–17, 2017.
          p All the events will be conducted at the venue the venue from 8am to 2pm.
  section#schedule.grey.mono
    .container
      .row
        .twelve.columns
          button#day-one.toggle-btn.selected Day 1
          button#day-two.toggle-btn Day 2
          table#day-one.selected
            thead
            tr
              td.axis Time
              td.axis Lab X
              td.axis Primary Hall
              td.axis Lab 2
              td.axis Lab 1
              td.axis Lab 4
              td.axis AV Lab
            tr
              td.axis 8:30 AM
              td.mod(colspan='6') Registration
            tr
              td.axis 9:00 AM
              td.mod(colspan='6', rowspan='2') Inauguration and Keynote
            tr
              td.axis 9:30 AM
            tr
              td.axis 10:00 AM
              td.mod(colspan='6') Mentoring Session
            tr
              td.axis 10:30 AM
              td.mod(rowspan='8') Pitching
              td.mod(rowspan='8') Quiz Prelims
              td.mod(rowspan='8') Gaming Prelims
              td.mod(rowspan='8') Design
              td.mod(rowspan='8') Programming
              td.mod(rowspan='8') Surprise
            tr
              td.axis 11:00 AM
            tr
              td.axis 11:30 AM
            tr
              td.axis 12:00 PM
            tr
              td.axis 12:30 PM
            tr
              td.axis 1:00 PM
            tr
              td.axis 1:30 PM
            tr
              td.axis 2:00 PM
          table#day-two
            thead
            tr
              td.axis Time
              td.axis Lab X
              td.axis Primary Hall
              td.axis HOG
              td.axis Lab 1
              td.axis Lab 4
              td.axis AV Lab
            tr
              td.axis 8:30 AM
              td.mod(colspan='6') Registration
            tr
              td.axis 9:00 AM
              td.mod(rowspan='8') Fundraising
              td.mod(rowspan='8') Quiz Finals
              td.mod(rowspan='8') Gaming Finals
              td.mod(rowspan='8') Design
              td.mod(rowspan='8') Programming
            tr
              td.axis 9:30 AM
            tr
              td.axis 10:00 AM
            tr
              td.axis 10:30 AM
            tr
              td.axis 11:00 AM
            tr
              td.axis 11:30 AM
            tr
              td.axis 12:00 PM
            tr
              td.axis 12:30 PM
            tr
              td.axis 1:00 PM
              td.mod(colspan='6', rowspan='3') Prize Distribution
            tr
              td.axis 1:30 PM
            tr
              td.axis 2:00 PM
  section
    .container
      .row
        .six.columns.event
          h2.title Delays
          p.grey-text.mono.participant-count Unavoidable circumstances
          p
            | While X will strictly follow the pre-decided schedule, we understand that there may be circumstances wherein a team is not able arrive on time.
          p
            | We encourage teams to stay in touch with any of our members or mentors via Slack, to work out a suitable plan in that case.
          p
            | Discounted rides are available to all attendees using the official Uber promo code.
        .six.columns.event.center
          h2.title.placeholder  
          p.grey-text.mono.participant-count Valid only on the day of the event
          code.center.mono MINETX
